name: pr_check
on:
  pull_request:
    branches: main
  workflow_dispatch:

jobs:
  pr_render:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2

      - name: Install Python and Dependencies
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          cache: 'pip'
      # - run: pip install jupyter

      - name: Set up yq
        uses: mikefarah/yq@master

      - name: Install dependencies from pyproject.toml
        run: |
          # Extract each dependency from the 'dependencies' array and print on a new line
          yq '.project.dependencies[]' pyproject.toml > requirements.txt
          pip install -r requirements.txt

      - name: Render Quarto Project
        uses: quarto-dev/quarto-actions/render@v2
        with:
          to: html
